.bannerBeVolunteer {
    width: 100%;
    height: 500px;
    background-image: url('../assets/banner.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.beVolunteerTitle {
    padding: 0px !important;
    margin: 0px !important;
    height: min-content;
}

.title {
    color: #fff !important;
    font-size: 90px !important;
    width: 60%;
    margin: 0px !important;

    &::before {
        content: '';
        background-color: #f1562a;
        width: 150px;
        height: 30px;
        display: block;
    }
}