.bannerBeVolunteer {
    background-image: url('../assets/banner.png');
}

.beVolunteerTitle {
    padding: 0px !important;
    margin: 0px !important;
    height: min-content;
}

.form-subscriber {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.container-form-subscriber {
    width: 60%;
    border: 1px solid #121212;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

.container-form-subscriber>h1 {
    font-size: 70px;
}

@media(max-width:600px) {
    .bannerBeVolunteer {
        padding: 10px !important;
    }

    .container-projects-bevolunteer {
        width: 100% !important;
    }

    .projects-be-volunteer {
        flex-direction: column;
    }

    .container-form-subscriber {
        width: 90%;
    }

    .container-form-subscriber>h1 {
        font-size: 30px;
    }
}