.bannerWhowheare {

    background-image: url('../assets/whowheareBanner.png');
}

.members {
    width: 100%;
    justify-content: space-around;
    gap: 2rem;
}


@media(max-width:600px) {
    .col-box-title-whoweare>h1 {
        text-align: center;
        width: 100%;
    }

    .col-box-title-whoweare>div {
        width: 100% !important;
        text-align: center;
        font-size: 15px !important;
    }

    .members >div{
        width: 50%;
    }

}