.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 300px;
}


.section.background-fixed {
    background-image: url('./assets/background.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: top;
    position: relative;
    margin-top: 80px;
    z-index: 0;
    display: grid;
    place-items: center;
    position: relative;

}

.box-numbers {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

}

.col-box-numbers {
    display: grid;
    place-items: center;
    flex: 1;
}

.col-box-numbers>div {
    width: 50%;
}

.col-box-numbers>div>h2 {
    font-size: 75px;
    color: #F89825;
    margin: 0;
}

.col-box-numbers>div>span {
    font-size: 25px;
    color: #121212;
    margin: 0;
}

.input-subscriber>button {

    height: 50px;
}

.input-subscriber>input {
    width: 500px;
    height: 50px;
    background-color: #121212;
    color: #fff;
    outline: none;
    border: 0;

    &::placeholder {
        color: #fff
    }

    &:focus {

        background-color: #121212;
    }

    &:hover {
        background-color: #121212;
    }
}

.btn-style {
    border-radius: 0px;
    background-color: transparent;
    color: #fff;
    width: 150px;
    height: 40px;
    outline: none;
}

.btn-style:hover {
    background-color: #fff !important;
    color: #121212 !important;
    border: 0;

}


@media(max-width:600px) {
    .home-title-box {
        width: 100% !important;
    }

    .home-title-box>h1 {
        font-size: 40px !important;
    }

    .home-title-box>h4 {
        font-size: 15px !important;
        width: 100% !important;
        color: #121212 !important;
    }

    .section.background-fixed {
        background-image: none;
        padding: 20px;
    }

    .filter {
        display: none;
    }

    .col-box-numbers {
        flex: none;
    }

    .col-box-numbers>div {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .col-box-numbers>div>h2 {
        font-size: 50px !important;
    }

    .box-numbers {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-bottom: 2rem;
    }

    .backImageNone {
        display: none;
    }

    .home-cards-hopehouseinfo {
        flex-direction: column;
        width: 100% !important;
    }

    .box-home-cards {
        flex: none !important;
        width: 100% !important;
        height: 100% !important;
        padding: 3rem !important;

    }

    .box-home-cards>div {
        width: 100% !important;
    }


    .home-cards-hopehouseinfo>div>div {
        width: 100% !important;
        text-align: center;
    }

    .home-cards-hopehouseinfo>div>div>h1 {
        width: 100% !important;
        text-align: center;
    }

    .box-how-helping>div {
        flex-direction: column !important;
    }

    .box-how-helping>div>div>h1 {
        width: 100% !important;
        font-size: 30px !important;
    }

    .nexteventsTitle {
        font-size: 30px !important;
    }

    .nextenventsBox {
        flex-direction: column;
        height: auto !important;
    }

    .nexteventsboximg {
        width: 100% !important;
        flex: none !important;
        height: 200px;
        object-fit: cover;
    }

    .nextenventsBox>div>div {
        height: auto !important;
        flex: none !important;
        width: 100% !important;
        padding: 2rem;
    }
}