.container-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row-cards {
    width: 100%;
    height: 400px;
}

.card {
    flex: 1;
    background-position: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.card-animation {
    display: none;

}

.card:hover>.card-animation {
    width: 100%;
    display: flex;
    background-color: #F1562A;
    height: 400px;
    padding: 2rem;
    animation: slide 0.5s ease none;
}


.row-card-banner {
    width: 100%;
    height: 400px;
    padding: 10px;
    background-image: url('./assets/elefante.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-card-banner>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row-card-banner>div>h1 {
    color: #fff;
    font-size: 70px;
    margin: 0px;
}

.row-card-banner>div>h4 {
    color: #fff;
    font-size: 30px;
    width: 60%;
    text-align: center;
}

.row-card-banner>div>button {
    background-color: transparent;
    border: 1px solid #fff;
    height: 60px;
    width: 200px;
    color: #fff;
    font-size: 17px;
    padding: 2rem;
    border-radius: 0px;

    &:hover {
        background-color: #fff;
        color: #000 !important;
        border-color: transparent !important;
    }

}

@keyframes slide {
    0% {
        opacity: 0;
        width: 50%;
    }

    100% {
        opacity: 1;
        width: 100%;
    }
}