.input-subscriber>button {

    height: 50px;
}

.input-subscriber>input {
    width: 500px;
    height: 50px;
    background-color: #121212;
    color: #fff;
    outline: none;
    border: 0;

    &::placeholder {
        color: #fff
    }

    &:focus {

        background-color: #121212;
    }

    &:hover {
        background-color: #121212;
    }
}

.btn-style {
    border-radius: 0px;
    background-color: transparent;
    color: #fff;
    width: 150px;
    height: 40px;
    outline: none;
}

.btn-style:hover {
    background-color: #fff !important;
    color: #121212 !important;
    border: 0;

}


@media(max-width:600px) {
    .subscriber-section-mobile {
        padding-bottom: 2rem;
    }

    .subscriber-col>h1 {
        font-size: 30px !important;
    }

    .input-subscriber {
        width: 100% !important;

    }

    .input-subscriber>input {
        width: 90% !important;
        height: 30px !important;
    }

    .input-subscriber>button {
        height: 30px !important;
    }

    .subscriber-section-mobile {
        display: flex !important;
        flex-direction: column !important;
        height: auto !important;
        gap: 2rem
    }

    .box-input-subscriber {
        margin: 0px !important;
        bottom: 0px !important;
        position: relative !important;
    }

}