.input-subscriber>button {

    height: 50px;
}

.input-subscriber>input {
    width: 500px;
    height: 50px;
    background-color: #121212;
    color: #fff;
    outline: none;
    border: 0;

    &::placeholder {
        color: #fff
    }

    &:focus {

        background-color: #121212;
    }

    &:hover {
        background-color: #121212;
    }
}

.btn-style {
    border-radius: 0px;
    background-color: transparent;
    color: #fff;
    width: 150px;
    height: 40px;
    outline: none;
}

.btn-style:hover {
    background-color: #fff !important;
    color: #121212 !important;
    border: 0;

}