.donateBanner {
    background-image: url("../assets/donateBanner.png");
}

.box-title-donate {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.box-title-donate>div {
    font-size: 20px;
}




@media(max-width:600px) {
    .box-title-donate {
        width: 100%;
        padding: 10px;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .box-title-donate>h1 {
        font-size: 30px;
        margin: 0px;
    }

    .box-title-donate>div {
        font-size: 15px;
    }
}